.flex-container-1 > div {
    background-color: red;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    }

.flex-container-1 {
    display: flex;
    align-items: stretch;
    background-color: blue;}

.flex-container-2 {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
    }
.flex-container-2 > div {
    background-color: DodgerBlue;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    }
.flex-container-3 {
        display: flex;
        align-items: stretch;
        background-color: #f1f1f1;
        }
.flex-container-3>div {
        background-color: DodgerBlue;
        color: white;
        width: 100px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
        }
.flex-container-4 {
        display: flex;
        align-items: stretch;
        background-color: red;
        }
.flex-container-4 > div {
        background-color: blue;   
        color: white;
        width: 100px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
        }
.item {
        flex: 0 0 200px;
        }
.flex-container-5 {
        display: flex;
        height: 250px;
        background-color: rgb(17, 255, 0);
        }
.flex-container-5 > div {
        background-color: rgb(212, 255, 0);
        color: white;
        width: 120px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
        }