
body {
    background-color: #000000;
}
h1, h2, p{
    color:white;
}

footer{
    background-color: rgb(30, 0, 255);
    border-style: double;
    color: white;
    border-radius: 1%;
}
img{
    display:block;
    margin:auto;
    background-color: white;
    }
.centradorojo {
    text-align: center;
    color: red;
    background-color: aliceblue;
}